# Luke Symes
## Week09 - 03/21/21
### Python - Lambda Function

In [2]:
def double(num):
    return num * 2

print(double(3))

6

In [3]:
def square(x):
    return x**2

square(5)

25

In [4]:
'''
Lambda arguments: expression
'''

double = lambda x:x*2

print(double(4))

8

In [5]:
# Finf larger number using lambda function

larger = lambda a,b: a if a > b else b

print(larger(5,10))

10

In [7]:
# Higher-order functions, such as map(), filter(), sort(), etc

nums = [1,2,3,4,5,6,7]

map(square,nums)

In [8]:
mylist = list(map(square,nums))

In [9]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [12]:
for item in map(square,nums):
    print(item)

1
4
9
16
25
36
49

In [14]:
def evenwords(w):
    if(len(w)%2 == 0):
        return 'EVEN'
    else:
        return w[0:2]
        
evenwords('Dodge')

'Do'

In [15]:
words = ['Ford', 'Nissan', 'GMC', 'Mazda', 'Dodge', 'BMW']
list(map(evenwords,words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [17]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [18]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [19]:
list(map(lambda w:w[0], words))

['F', 'N', 'G', 'M', 'D', 'B']

In [20]:
list(map(lambda w:w[::-1], words))

['droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [21]:
def even(num):
    return num%2 == 0

even(5)

False

In [22]:
even(8)

True

In [23]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [24]:
filter(even,nums)

In [25]:
list(filter(even,nums))

[2, 4, 6]

In [26]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6]

In [28]:
list(map(lambda x:x%2==0,nums))

[False, True, False, True, False, True, False]

In [29]:
# lambda with text

names = ['Alan', 'Gregory', 'Elatan', 'Bob', 'Bria', 'Ryan', 'Roby']

names.sort()

In [30]:
names

['Alan', 'Bob', 'Bria', 'Elatan', 'Gregory', 'Roby', 'Ryan']

In [31]:
# change the key to sort based on the length of the name
names.sort(key = lambda n:len(n))

In [32]:
names

['Bob', 'Alan', 'Bria', 'Roby', 'Ryan', 'Elatan', 'Gregory']